* {
	margin: 0;
	padding: 0;
	line-height: calc(1em + 0.8rem);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	--14px: 0.875rem;
	--15px: 0.9375rem;
	--16px: 1rem;
	--17px: 1.0625rem;
	--18px: 1.125rem;
	--19px: 1.1875rem;
	--20px: 1.25rem;
	--21px: 1.3125rem;
}
html,
body,
#root {
	height: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

:root {
	--rusty-red: hsla(355, 63%, 51%, 1);
	--salmon-pink: hsla(0, 68%, 76%, 1);

	--site-background: hsla(105, 55%, 96%, 1);
	--card-background-color: hsla(170, 41%, 86%, 1);
	--heading-font-color: hsla(215, 50%, 23%, 1);
	--text-color: hsla(208, 43%, 34%, 1);

	--button-color-primary: hsla(355, 78%, 56%, 1);
	--button-color-secondary: hsla(203, 39%, 44%, 1);
	--button-text-color: whitesmoke;

	--non-photo-blue: hsla(182, 43%, 76%, 1);
	--moonstone: hsla(195, 35%, 60%, 1);

	--heading-font: 'Cabinet Grotesk';
	--text-font: 'Satoshi';
	--border-radius-button: 1.25em;

	--shadow-color: 106deg 17% 53%;
	--shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.58),
		0.4px 0.8px 0.9px -1.7px hsl(var(--shadow-color) / 0.47),
		1.1px 2.2px 2.4px -3.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.61),
		0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.52),
		2.1px 4.1px 4.5px -2.3px hsl(var(--shadow-color) / 0.44),
		5.5px 11px 12px -3.5px hsl(var(--shadow-color) / 0.35);
	--shadow-elevation-high: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.57),
		1.2px 2.3px 2.5px -0.5px hsl(var(--shadow-color) / 0.53),
		2.3px 4.6px 5px -1px hsl(var(--shadow-color) / 0.49),
		4.2px 8.5px 9.2px -1.5px hsl(var(--shadow-color) / 0.44),
		7.4px 14.9px 16.2px -2px hsl(var(--shadow-color) / 0.4),
		12.5px 24.9px 27.2px -2.5px hsl(var(--shadow-color) / 0.36),
		19.8px 39.6px 43.2px -3px hsl(var(--shadow-color) / 0.32),
		30px 60px 65.4px -3.5px hsl(var(--shadow-color) / 0.28);

	--animation-overlayShow: overlayShow;
	--animation-contentShow: contentShow;
}

body {
	background-color: var(--site-background);
	font-family: var(--text-font, sans-serif);
	color: var(--text-color);
}

.container {
	width: 80%;
	max-width: 1200px;
	margin-inline: auto;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
